body{
    background-color: rgb(253, 253, 253);
}
.stopwatch{
    background-color: rgb(10, 9, 7);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    padding:50px;
    margin:20px;
}
.btns{
    display:flex;
    justify-content:center;
}
.btns img{
    width:70px;
    height:70px;
    padding:15px;
}
#display{
    color:white;
    font-size:60px;
    margin:20px;
}